body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
}

h1, h2{
    text-align: center;
}

form{
    width: 400px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

a{
    text-decoration: none;
}
.btn {
    margin-right: 20px;
    padding: 10px;
    border: 2px solid #ff0051;
    border-radius: 30px;
    color: #ff0051;
}

/* my */

li{
    list-style-type: none;
    gap: 20px;
}

/* logout */
.logout{
    background-color: #ff0051;
    padding: 10px;
    border-radius: 16px;
    color: white;
    font-weight: 700;

}